body {
    /* width: 100%; */
    height: 100%;
    background-color: rgb(238, 238, 238);
    margin: 30px 70px;
    font-size: 18px;
    font-family: "Arial",  "MS Pゴシック", sans-serif;
}
body * {
    /* border: 1px solid #000; */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

.main-color {
    color: rgb(53, 96, 246);
}
.main-bg-color {
    color: #fff;
    background-color: rgb(53, 96, 246);
}
.main-container {
    display: flex;
    /* width: 100%; */
    /* コンテナ確認用の灰色背景色 */
    /* background-color: rgb(100, 100, 100); */
}
.content-tags{
    display: flex;
    padding: 20px 0px;
}
.tags{
    padding-right: 5px;
}